{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <title>Mis Perris | Eliminar</title>


</head>

<body>
    <header class="container-fluid superior">
        <!--Barra de navegación-->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 logo">
                <a href="#"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
            </div>
            <!--Botones de CRUD-->
            <div class="col-12 col-sm-12  col-md-12- col-lg-3  menu horizontal">
                    <a href="{% url 'mascota' %}" class="btn btn-success" role="button"> Agregar </a>
                    <a href="{% url 'modificar' %}" class="btn btn-warning" role="button"> Modificar </a>
                    <a href="{% url 'eliminar' %}" class="btn btn-danger " role="button"> Eliminar </a>
                    <a href="{% url 'index' %}" class="btn btn-outline-secondary " role="button"> Cerrar Sesión </a>
                </div>
        </div>
    </header>
    <h4 class="text-center">Eliminar Mascotas</h4>
    <br>
    

    <!--Eliminar datos de mascotas-->
    <table class="table table-striped" id="table2">
        <thead class="thead-success">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Raza</th>
                <th scope="col">Estado</th>
                <th scope="col">fotografia</th>
                <th scope="col">Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>


    </table>


    <footer>
        <h4>Desarrollo Web y Mobile</h4>
    </footer>


    <script src="{% static 'js/jquery-3.3.1.js' %} "></script>
    <script src="{% static 'js/popper.js' %} "></script>
    <script src="{% static 'js/bootstrap.js' %} "></script>
    <script src="{% static 'js/jquery.validate.js' %} "></script>
    <script src="{% static 'js/jquery.mask.js' %} "></script>
    <script src="{% static 'js/jquery.sliphover.js' %} "></script>
    <script src="{% static 'js/app.js' %} "></script>
</body>

</html>