{% load static %}
<!DOCTYPE html>
<html lang="es-Cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href=" {% static 'css/flexboxgrid.css'%}" type="text/css"> 
    <link rel="stylesheet" href=" https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href=" {% static 'css/estilo.css'%}" type="text/css">
    <link rel="stylesheet" href=" {% static 'css/bootstrap.css'%}" type="text/css">

    <title>mascota  </title>
</head>
<body>
    
    <header class="container-fluid superior">
                <!--Barra de navegación-->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 logo">
                <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
            </div>
                                   
            <!--Botones INICIO, CERRAR SESION -->
            <div class="col-12 col-sm-12  col-md-12- col-lg-3 ">
                <a href="{% url 'index' %}" name="mostrar2" id="mostrar2" class="btn btn-success" role="button"> inicio</a>
    
                <a href="{% url 'index' %}" class="btn btn-outline-secondary " role="button"> Cerrar Sesión </a>
            </div>
        </div>
        
    </header>

    <div class="container-fluid ancho">

        <form action="/mascota/crear_mascota" enctype="multipart/form-data"  method='post' id="formulario2">
            {% csrf_token %}
            <h4 class="text-center">Ingresar Mascotas</h4>
            <br>
            <div class="form-group">
                <label for="nombre">Nombre mascota</label>
                <input type="text" class="form-control" name="nombre" id="nombre" requiered placeholder="Ingrese nombre mascota">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="raza">Raza predominante</label>
                    <select id="raza" name="raza" class="form-control" >
                        <option disabled selected>Selecciona una Raza </option>
                        <option>pug</option>
                        <option>pitbull</option>
                        <option>Pastor aleman</option>
                        <option>Salchicha</option>
                        <option>Boxer  </option>
                        <option>Bull Terrier </option>
                        <option>Bulldog Americano </option>
                        <option>Chihuahua </option>
                        <option>Dálmata </option>
                        <option>Pekinés </option>
                        <option>...</option>
                    </select>
                </div>
               
                <div class="form-group col-md-6">
                    <label for="estado">Estado</label>
                    <select id="estado" name="estado" class="form-control" >
                        <option disabled selected>Estado de mascota</option>
                        <option>Rescatado</option>
                        <option>Disponible</option>
                        <option>Adoptado</option>
                    </select>
                </div>
            </div>

            <div class="form-group ">
                <label for="fotografia">Cargar fotografia</label>
                <input type="file" class="form-control-file" name="fotografia" id="fotografia">
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <input type="text" class="form-control" name="descripcion" id="descripcion" requiered placeholder="Ingrese descripción">
            </div>
            <input type="submit" value="guardar">
    
        </form>
    </div>

    <!--Listar Datos de BBDD-->
    <h4 class="text-center">Listar Datos de Mascotas</h4>
    <br>

    <div class="container-fluid">
        <table class="table table-striped" id="table1">
            <thead class="thead-success">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Raza</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for e in elementos %}
                <tr>
                    <th scope="row">{{e.id}}</th>
                    <td> {{e.nombre}} </td>
                    <td> {{e.raza}} </td>
                    <td> {{e.estado}}</td>
                    <td> {{e.descripcion}}</td>
                    <td>
                        
                        <a class="btn btn-sm btn-primary" href="vista_modificar/{{e.id}}" onclick="editar('{{e.nombre}}',' {{e.raza}}','{{e.estado}}','{{e.fotografia}}','{{e.descripcion}}','{{e.id}}')"><span
                                class="glyphicon glyphicon-edit"></span>
                            Editar</a>
                        <a class="btn btn-sm btn-danger" href="eliminar/{{e.id}}"><span class="glyphicon glyphicon-trash"></span>
                            Eliminar</a>
                    </td>
                   
                    <td>
                        <img src="/media/{{e.fotografia}}"  class="mostrar-img">
                    </td>
                </tr>
                {% endfor %}
            </tbody>


        </table>

    </div>

    <footer>
            <div class="container-fluid inferior rescate">
                <div class="row">
                    <h5>Desarrollo web y mobile</h5> 
                </div>  
            </div>
    </footer>


    <script src="{% static 'js/jquery-3.3.1.js' %}"></script> <!--SE DEBEN EJECUTAR ESTOS SCRIPT EN EL SGT ORDEN -->
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>