{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <title>Mis Perris | Modificar</title>


</head>

<body>
    <header class="container-fluid superior">
        <!--Barra de navegación-->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 logo">
                <a href="#"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
            </div>
            <!--Botones de CRUD-->
            <div class="col-12 col-sm-12  col-md-12- col-lg-3  menu horizontal">
                <a href="{% url 'mascota' %}" class="btn btn-success" role="button"> Agregar </a>
                <a href="{% url 'modificar' %}" class="btn btn-warning" role="button"> Modificar </a>
                <a href="{% url 'eliminar' %}" class="btn btn-danger " role="button"> Eliminar </a>
                <a href="{% url 'index' %}" class="btn btn-outline-secondary " role="button"> Cerrar Sesión </a>
            </div>
        </div>
    </header>

    <h4 class="text-center">Modificar datos de Mascotas</h4>
    <br>

<!--Listar Datos de BBDD para modificar-->
<h4 class="text-center">modificar Datos de Mascotas</h4>
<br>


<!--Formulario para guardar datos editados-->

<form action="/mascota/modificar/" enctype="multipart/form-data" method="POST" id="formulario2">
    {% csrf_token %}
    <h4 class="text-center">Agregar Mascotas</h4>
    <br>
    <div class="container-fluid">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre Mascota">
            </div>
            <div class="form-group col-md-6">
                <label for="raza">Raza</label>
                <select class="form-control" name="raza" id="raza">
                        <option disabled selected>Selecciona una Raza </option>
                        <option>pug</option>
                        <option>pitbull</option>
                        <option>Pastor aleman</option>
                        <option>Salchicha</option>
                        <option>Boxer  </option>
                        <option>Bull Terrier </option>
                        <option>Bulldog Americano </option>
                        <option>Chihuahua </option>
                        <option>Dálmata </option>
                        <option>Pekinés </option>
                        <option>...</option>
                </select>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="estado">Estado</label>
                <select class="form-control" name="estado" id="estado">
                    <option>Seleccionar...</option>
                    <option>Rescatado</option>
                    <option>Disponible</option>
                    <option>Adoptado</option>
                </select>
            </div>
            <div class="form-group ">
                    <label for="fotografia">Cargar fotografia</label>
                    <input type="file" class="form-control-file" name="fotografia" id="fotografia">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-md-6 ">
                <label for="descripcion ">Escribe una breve descripción de la mascota</label>
                <textarea class="form-control " name="descripcion" id="descripcion " rows="3 "></textarea>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <button id="ocultar2" type="button" class="btn btn-outline-dark btn-block">Ocultar</button>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <input type="submit" class="btn btn-success btn-block" value="Registrar">
                <br>
            </div>
        </div>
    </div>
</form>




<div class="container-fluid">
    <table class="table table-striped" id="table1">
        <thead class="thead-success">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Raza</th>
                <th scope="col">Estado</th>
                <th scope="col">Descripción</th>
            </tr>
        </thead>
        <tbody>
            {% for m in mascotas %}
            <tr>
                <th scope="row">{{m.id}}</th>
                <td> {{m.nombre}} </td>
                <td> {{m.raza}} </td>
                <td> {{m.estado}}</td>
                <td> {{m.descripcion}}</td>
                <td>

                    <a class="btn btn-sm btn-warning" href="#" onclick="modificar('{m.nombre}}',' {{m.raza}}','{{m.estado}}','{{m.fotografia}}','{{m.descripcion}}','{{m.id}}')"><span
                            class="glyphicon glyphicon-edit"></span>
                        Editar</a>
                    <a class="btn btn-sm btn-danger" href="eliminar/{{m.id}}"><span class="glyphicon glyphicon-trash"></span>
                        Eliminar</a>

                </td>
                <td>
                    <img src="/media/{{m.fotografia}}" class="mostrar-img">
                </td>
            </tr>
            {% endfor %}
        </tbody>


    </table>

</div>

    




    </table>

    <footer>
        <h4>Desarrollo Web y Mobile</h4>
    </footer>


    <script src="{% static 'js/jquery-3.3.1.js' %} "></script>
    <script src="{% static 'js/popper.js' %} "></script>
    <script src="{% static 'js/bootstrap.js' %} "></script>
    <script src="{% static 'js/jquery.validate.js' %} "></script>
    <script src="{% static 'js/jquery.mask.js' %} "></script>
    <script src="{% static 'js/jquery.sliphover.js' %} "></script>
    <script src="{% static 'js/app.js' %} "></script>
</body>

</html>