<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href=" {% static 'css/flexboxgrid.css'%}" type="text/css"> 
    <link rel="stylesheet" href=" {% static 'css/estilo.css'%}" type="text/css">
    <link rel="stylesheet" href=" https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href=" {% static 'css/bootstrap.css'%}" type="text/css">
    <title>Clase 4</title>
    
</head>
<body>
    <div class="container-fluid ancho">
            
    <h4>Formulario de postulación para adoptar una mascota</h4>

    <form action="/registro/crear" method='post'>
        {% csrf_token %}
        <div class="form-row ">
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control"name="email" id="email" requiered placeholder="Ingrese Email">
          </div>
          <div class="form-group col-md-6">
            <label for="rut">Rut</label>
            <input type="text" class="form-control" id="rut" name="rut"  required placeholder="Ingrese RUT">
          </div>
        </div>
        <div class="form-group">
                <label for="nombre">Nombre completo</label>
                <input type="text" class="form-control" name="nombre" id="nombre" requiered placeholder="Ingrese nombre y apellido">
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input type="number" class="form-control" name="telefono" id="telefono" requiered placeholder="Ingrese su número de Teléfono">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="region">Región</label>
            <select id="region" name="region" class="form-control" >
            <option selected>Región Metropolitana</option>
              <option>XV Arica y Parinacota</option>
              <option>I Tarapacá</option>
              <option>II Antofagasta</option>
              <option>III Atacama</option>
              <option>IV Coquimbo</option>
              <option>V Valparaíso</option>
              <option>VI O'Higgins</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="ciudad">Ciudad</label>
            <select id="ciudad" name="ciudad" class="form-control">
              <option selected>Santiago</option>
              <option>Valparaiso</option>
              <option>La Serena</option>
              <option>Rancagua</option>
              <option>Talca</option>
              <option>...</option>
              
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="vivienda">Tipo de vivienda</label>
            <select id="vivienda" name="vivienda" class="form-control">
                    <option selected>Casa con patio grande</option>
                    <option>Casa con patio pequeño</option>
                    <option>Casa sin patio</option>
                    <option>Departamento</option>
                    <option>...</option>
          </div>
        </div>
        <div class="form-group col-md-4 ">
          <div class="form-check ">
            <input class="form-check-input ancho" type="checkbox" id="gridCheck">
            <label class="form-check-label container-fluid" for="gridCheck">
              <h6>Acepta los terminos y condiciones</h6>
            </label>
          </div>
        </div>
      <button type="submit" value="guardar" class="btn btn-primary">Enviar</button>
       
    </form>

    </div>

    
</body>