{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <title>Mis Perris | Modificar</title>


</head>

<body>
    <header class="container-fluid ">
        <!--Barra de navegación-->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 logo">
                <a href="#"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
            </div>
            <!--Botones de CRUD-->
            <div class="col-12 col-sm-12  col-md-12- col-lg-3  menu horizontal">
                <a href="{% url 'index' %}" class="btn btn-outline-secondary " role="button"> Cerrar Sesión </a>
            </div>
        </div>
    </header>


    <!--Formulario para guardar datos cambiados-->
    <div class="container-fluid">
        <form action="/mascota/modificar/{{mascota.id}}" enctype="multipart/form-data" method="POST" id="formulario3">
            {% csrf_token %}
            <h4 class="text-center">Modificar Datos</h4>
            <br>
            <div class="container-fluid">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" name="nombre" value="{{mascota.nombre}}" id="nombre" placeholder="Nombre Mascota">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="raza">Raza</label>
                        <select class="form-control" name="raza" value="{{mascota.raza}}" id="raza">
                                <option disabled selected>Selecciona una Raza </option>
                                <option>pug</option>
                                <option>pitbull</option>
                                <option>Pastor aleman</option>
                                <option>Salchicha</option>
                                <option>Boxer  </option>
                                <option>Bull Terrier </option>
                                <option>Bulldog Americano </option>
                                <option>Chihuahua </option>
                                <option>Dálmata </option>
                                <option>Pekinés </option>
                                <option>...</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="estado">Estado</label>
                        <select class="form-control" name="estado" value="{{mascota.estado}}" id="estado">
                            <option disabled select>Seleccionar...</option>
                            <option>Rescatado</option>
                            <option>Disponible</option>
                            <option>Adoptado</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="fotografia">Subir fotografia</label>
                        <input type="file" class="form-control-file" name="fotografia" id="fotografia">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group col-md-6 ">
                        <label for="descripcion">Escribe una breve descripción de la mascota</label>
                        <input class="form-control " name="descripcion" value="{{mascota.descripcion}}" id="descripcion " rows="3">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-4  col-md-4 col-lg-4  menu horizontal">
                        <a href="{% url 'mascota' %}" class="btn btn-secondary btn-block " role="button"> Volver </a>
                    </div>
                    <div class="col-12 col-sm-4  col-md-4 col-lg-4 ">
                        <input type="submit" class="btn btn-success btn-block" value="Cambiar Datos">
                        <br>
                    </div>
                </div>
            </div>
        </form>

    </div>
    

    <footer>
        <h4>Desarrollo Web y Mobile</h4>
    </footer>


    <script src="{% static 'js/jquery-3.3.1.js' %} "></script>
    <script src="{% static 'js/popper.js' %} "></script>
    <script src="{% static 'js/bootstrap.js' %} "></script>
    <script src="{% static 'js/jquery.validate.js' %} "></script>
    <script src="{% static 'js/jquery.mask.js' %} "></script>
    <script src="{% static 'js/jquery.sliphover.js' %} "></script>
    <script src="{% static 'js/app.js' %} "></script>
</body>

</html>